@import "./reload.css";
@import "https://js.arcgis.com/4.23/esri/themes/light/main.css";

html {
  height: min-content;
  overflow:  hidden
}

html, body, main, .mainclass, .tasksclass, .calendarclass, .contactsclass {
  width: 100%;
}

#container {
  margin: 1vw;
  padding: 1vw;
  height: 40vh;
  width: auto;
}

main {
  display: flex;
  flex-direction: row;

  
}

.mapdiv {
  width: 75%;
}

.infomap {
  width: 25%;
  border-top: 3px solid black;
  border-left: 3px solid black;
}

header {
  margin: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  width: auto;
}

.menu li a{
  text-decoration: none;
  color: black;
  font-size: large;
}

.selection {
  margin: 2vw;
  width: 8vw; 
  font-family: 'Avenir Next W00'; 
  font-size: 1.2em
}
